<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <% if(pagename=="Home") {%>
                    <a class="nav-link" id='index.html' style="color:#0d6efd" href="/">Home</a>
                <%}else{%>
                    <a class="nav-link" id='index.html' href="/">Home</a>
                <%}%>
                </li>
                <li class="nav-item">
                <% if(pagename=="About") {%>
                    <a class="nav-link" id='about' style="color:#0d6efd" href="/about">About</a>
                <%}else{%>
                    <a class="nav-link" id='about' href="/about">About</a>
                <%}%>
                </li>
                <li class="nav-item">
                <% if(pagename=="Contact") {%>
                    <a class="nav-link" id='contact' style="color:#0d6efd" href="/contact">Contact</a>
                <%}else{%>
                    <a class="nav-link" id='contact' href="/contact">Contact</a>
                <%}%>
                <%if(typeof(sess) != "undefined" && sess.loggedin==true){%>
                    <%if(pagename=="Profile"){%>
                        <a class="nav-link" id='profile' style="color:#0d6efd" href="/profile">Profile</a>
                    <%}else{%>
                        <a class="nav-link" id='profile' href="/profile">Profile</a>
                    <%}%>
                    <a class="nav-link" href="/logout">Logout</a>
                <%}%>
                </li>
                <div>
                    <div style=
                    'font-size: 12px;
                    padding-top: 10px;
                    padding-left: 1rem;'>
                        <form action='/login' method="POST">
                            <input style='
                            border: none;
                            border-radius: 2px;' type="text" name="email" placeholder="email">
                            <input style='
                            border: none;
                            border-radius: 2px;' type="text" name="password" placeholder="password">
                            <input style='
                            border: none;
                            border-radius: 2px;' type="submit">
                        </form>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>

